.intro {
    width: min(1100px, 90%);
    margin: 40px auto;
    padding: 25px;

    background: #a5a5a5;
    border-radius: 20px;
}

.intro-header {
    display: grid;
    grid-template-columns: 90px 1fr 90px;
    align-items: center;
    gap: 15px;
}

.intro-image {
    width: 90px;
    height: auto;
}

.intro-title {
    text-align: center;
}

.intro-title h2 {
    margin: 0;
    font-size: 2.8rem;
    color: white;
}

.intro-subtitle {
    margin-top: 20px;
    text-align: center;
    font-size: 1.3rem;
    color: white;
}
